* {
	font-family: 'Overlock', cursive;
	line-height: 1.5em;
	color: $font-color;
}
body {
	font-size: 18px;
	background: #fef7e9;
}
ul {
	margin: 0;
	padding: 0;
}
a, a:visited {
	text-decoration: none;
	color: $font-color;
}
p {
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
img {
	width: 100%;
	height: auto;
}
ul {
    list-style-image: url('../images/dot.png');
}
p.cursive {
  	font-style: italic;
}
.pointer {
	cursor: pointer;
}
.back-arrow, .back-to-home, .sm {
		-webkit-transition: opacity 0.25s ease-in-out;
        -moz-transition: opacity 0.25s ease-in-out;
        -ms-transition: opacity 0.25s ease-in-out;
        -o-transition: opacity 0.25s ease-in-out;
        transition: opacity 0.25s ease-in-out;
}
.back-to-home:hover {
	opacity: 0.3;
}
.back-to-home-fixed {
    width: 4em;
  	position: fixed;
   	bottom: 0.5em;
   	left: 7em;
   	z-index: 10;
   	margin-bottom: 0em;
    @include break(60.625em) {
	    display: none;
    }
}
.two {
    left: 1em;
}
.back-arrow-fixed {
	position: fixed;
   	bottom: 1.5em;
	display: block;
	left: 1em;
	width: 4em;
	z-index: 10;
	@include break(60.625em) {
	    display: none;
    }
}
.back-arrow:hover {
	opacity: 0.3;
}
.sm:hover {
	opacity: 0.25;
}
.coming {
	text-align: center;
    font-size: 3em;
}
.primary {
	z-index: 10;
	position: relative;
	overflow: auto;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.5em;
	text-align: center;
	@include break(38em) {
		width: 100%;
	}
	@include break(67em, 90.625em) {
		height: 12em;
	}
	@include break(60.625em, 67em) {
		height: 10em;
	}
	@include break(90.625em) {
		width: 70%;
		height: 15em;
	}
	.name-telephone {
        display: none;
        z-index: 0;
		@include break(60.625em) {
			display: block;
			position: absolute;
    		float: left;
    		width: 69%;
    		margin-left: 3%;
    	}
    	img {
    		width: 100%;
    		height: auto;
    	}
    	.with-number {
    		display: none;
    	}
    	.without-number {
    		display: block;
    	}
	}
	.name-telephone:hover {
    	.with-number {
    		display: block;
    	}
    	.without-number {
    		display: none;
    	}
	}
	.name, .social-media {
		float: none;
		width: 100%;
	    img {
	    	width: 100%;
	    }
	}
    .social-media {
    	z-index: 20;
    	width: 100%;
        margin-left: auto;
	    margin-right: auto;
	    margin-top: 0.5em;
    	.sm {
    		display: inline-block;
    		width: 1.75em;
    		margin-right: 0.5em;
    		margin-left: 0;
    	}
    	.sm:last-child {
    		margin-right: 0;
    	}
        @include break(38em, 60.625em) {
        	text-align: right;
	    	float: left;
	    	width: 32.5%;
	    	margin-left: 0%;
	    	margin-right: 2.5%;
	        .sm {
				width: 1.7em;
				margin-right: 0.1em;
			}
	    }
	    @include break(60.625em, 73em) {
	    	z-index: 20;
            text-align: right;
	    	float: left;
	    	width: 35%;
	    	margin-left: 64%;
	    	margin-right: 5%;
	        .sm {
				width: 2.5em;
				margin-right: 0.5em;
			}
	    }
	    @include break(73em, 118.750em) {
	    	z-index: 20;
            text-align: right;
	    	float: left;
	    	width: 30%;
	    	margin-left: 65%;
	        .sm {
				width: 2.5em;
				margin-right: 0.5em;
			}
	    }
	    @include break(118.750em) {
	    	z-index: 20;
            text-align: right;
	    	float: left;
	    	width: 30%;
	    	margin-left: 65%;
	        .sm {
				width: 3em;
				margin-right: 0.5em;
			}
	    }
    }
    .name {
    	@include break(38em, 60.625em) {
    		float: left;
    		width: 60%;
    		margin-left: 5%;
    		margin-right: 0;
    	}
    	@include break(60.625em) {
    		display: none;
    	}
    }
}

.secondary {
	z-index: 5;
	background: $header-color;
	position: fixed;
	top: 0;
	padding-top: 0.5em;
	z-index: 20;
	// padding-bottom: 0.5em;
	.back-to-home {
    	display: none;
    	@include break(60.625em, 90.625em) {
    		width: 6%;
    	    display: block;
	    	position: relative;
            margin-top: 0em;
            margin-left: 4%;
            height: auto;
	    	height: auto;
	    	float: left;
	    	margin-bottom: 0.25em;
	    	img {
    		    width: 100%;
    	    }
	    }
	    @include break(90.625em) {
	    	width: 4.5%;
    	    display: block;
	    	position: relative;
            margin-top: 0em;
            margin-left: 20%;
            height: auto;
	    	height: auto;
	    	float: left;
	    	margin-bottom: 0.25em;
	    	img {
    		    width: 100%;
    	    }
    	}
	}
    overflow: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	.name, .social-media {
		float: none;
		width: 98%;
		margin-left: auto;
		margin-right: auto;
	    img {
	    	width: 100%;
	    }
	}
    .social-media {
    	width: 100%;
        margin-left: auto;
	    margin-right: auto;
	    margin-top: 0.5em;
    	.sm {
    		display: inline-block;
    		width: 1.75em;
    		margin-right: 0.5em;
    		margin-left: 0;
    	}
    	.sm:last-child {
    		margin-right: 0;
    	}
    	@include break(38em, 60.625em) {
        	text-align: right;
	    	float: left;
	    	width: 30%;
	    	margin-right: 5%;
	        .sm {
				width: 1.7em;
				margin-right: 0.1em;
			}
	    }
	    @include break(60.625em, 73em) {
            text-align: right;
	    	float: left;
	    	width: 30%;
	    	margin-right: 5%;
	        .sm {
				width: 2.5em;
				margin-right: 0.5em;
			}
	    }
	    @include break(73em, 90.625em) {
            text-align: right;
	    	float: left;
	    	width: 30%;
	        .sm {
				width: 2.5em;
				margin-right: 0.5em;
			}
	    }
	    @include break(90.625em) {
	    	text-align: right;
	    	float: left;
	    	width: 15%;
	    	margin-left: 2.5%;
	        .sm {
				width: 2.5em;
				margin-right: 0.5em;
			}
	    }
    }
    .name {
    	@include break(38em, 60.625em) {
    		float: left;
    		width: 60%;
    		margin-left: 5%;
    	}
    	@include break(60.625em, 90.625em) {
    		float: left;
    		width: 50%;
    		margin-left: 5%;
    	}
    	@include break(90.625em) {
    		float: left;
    		margin-left: 2.5%;
    		width: 35%;
    	}
    }
}

.third {
	z-index: 5;
	background: $header-color;
	position: fixed;
	top: 0;
	padding-top: 0.5em;
	z-index: 20;
	.back-arrow {
			width: 7%;
    		position: fixed;
    	    bottom: 1em;
    	    left: 1em;
    	    z-index: 10;
    	    display: none;
        img {
        	width: 100%;
        }
        @include break(60.625em, 90.625em) {
        	display: block;
	    	position: relative;
            margin-top: 2em;
            margin-left: 2%;
            height: auto;
	    	height: auto;
	    	float: left;
	    }
	    @include break(90.625em) {
	    	display: block;
	    	position: relative;
            margin-top: 2em;
            margin-left: 15%;
            width: 4.5%;
            height: auto;
	    	height: auto;
	    	float: left;
	    }
	}
	.back-to-home {
    	display: none;
    	@include break(60.625em, 90.625em) {
    		width: 6%;
    	    display: block;
	    	position: relative;
            margin-top: 0em;
            margin-left: 4%;
            height: auto;
	    	height: auto;
	    	float: left;
	    	margin-bottom: 0.25em;
	    	img {
    		    width: 100%;
    	    }
	    }
	    @include break(90.625em) {
	    	width: 4.5%;
    	    display: block;
	    	position: relative;
            margin-top: 0em;
            margin-left: 4%;
            height: auto;
	    	height: auto;
	    	float: left;
	    	margin-bottom: 0.25em;
	    	img {
    		    width: 100%;
    	    }
	    }
	}
    overflow: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	.name, .social-media {
		float: none;
		width: 98%;
		margin-left: auto;
		margin-right: auto;
	    img {
	    	width: 100%;
	    }
	}
    .social-media {
    	width: 100%;
        margin-left: auto;
	    margin-right: auto;
	    margin-top: 0.5em;
    	.sm {
    		display: inline-block;
    		width: 1.75em;
    		margin-right: 0.5em;
    		margin-left: 0;
    	}
    	.sm:last-child {
    		margin-right: 0;
    	}
    	@include break(38em, 60.625em) {
        	text-align: right;
	    	float: left;
	    	width: 30%;
	    	margin-right: 5%;
	        .sm {
				width: 1.7em;
				margin-right: 0.1em;
			}
	    }
	    @include break(60.625em, 73em) {
            text-align: right;
	    	float: left;
	    	width: 28%;
	        .sm {
				width: 2em;
				margin-right: 0.5em;
			}
	    }
	    @include break(73em, 90.625em) {
            text-align: right;
	    	float: left;
	    	width: 28%;
	        .sm {
				width: 2.5em;
				margin-right: 0.5em;
			}
	    }
	    @include break(90.625em) {
            text-align: right;
	    	float: left;
	    	width: 15%;
	    	margin-left: 2.5%;
	        .sm {
				width: 2.5em;
				margin-right: 0.5em;
			}
	    }
    }
    .name {
    	@include break(38em, 60.625em) {
    		float: left;
    		width: 60%;
    		margin-left: 5%;
    	}
    	@include break(60.625em, 90.625em) {
    		float: left;
    		width: 45%;
            margin-left: 6%;
    	}
    	@include break(90.625em) {
    		float: left;
    		width: 35%;
            margin-left: 2.5%;
    	}
    }
}

.main-background {
	background-image: url("../images/main-background.png");
}

.home {
	nav {
		overflow: hidden;
	}
    width: 90%;
    height: auto;
    margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	.important, .less-important {
		width: 100%;
		float: none;
		text-align: center;
	}
	.important {
		margin-bottom: 3em;
		a.about-icon img {
			width: 60%;
			margin-bottom: 2em;
		}
		a.fashion-icon img {
			width: 80%;
		}
		@include break(60.625em) {
			a.about-icon img:hover, a.fashion-icon img:hover {
				opacity: 0.3;
			}
		}
	}
	.less-important {
		a.textile-icon img {
			width: $half;
			margin-bottom: 5%;
		}
		a.illustration-icon img {
			width: $half + 20%;
			margin-bottom: 1em;
		}
		a.artwork-icon img {
			width: $half + 10%;
			margin-bottom: 1em;
		}
		a.photography-icon img {
			width: $half + 10%;
			margin-bottom: 1em;
		}
		@include break(60.625em) {
			a.textile-icon img:hover, a.illustration-icon img:hover, a.artwork-icon img:hover, a.photography-icon img:hover {
				opacity: 0.3;
			}
		}
	}
	@include break(30em, 60.625em) {
		width: 90%;
		height: auto;
		a.about-icon, a.fashion-icon {
			width: $half;
			float: left;
	    }
	    .important, .less-important {
		    width: 100%;
		    float: none;
		    text-align: center;
		    overflow: hidden;
	    }
	    .important {
	    	margin-bottom: 3em;
		a.about-icon img {
			width: $half - 5%;
			margin-bottom: 0;
		}
		a.fashion-icon img {
			width: $half + 15%;
		}
	}
	.less-important {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		a.textile-icon, a.illustration-icon, a.artwork-icon, a.photography-icon {
			width: $half;
			float: left;
			@include icon-grid(2, 0.5%);
		}
	}
	}
	@include break(60.625em) {
		min-height: 25em;
		a.about-icon, a.fashion-icon {
			width: $half;
			float: left;
	    }
	    .important, .less-important {
		    float: left;
		    text-align: center;
		    overflow: hidden;
	    }
	    .important {
	    	width: 45%;
	    	margin-bottom: 3em;
		a.about-icon img {
			width: $half+20%;
			margin-bottom: 0;
		}
		a.fashion-icon img {
			padding-top: 2em;
			width: $half + 40%;
		}
		a.about-icon img:hover {
			width: 80%;
			opacity: 1;
		}
		a.fashion-icon img:hover {
			width: 100%;
			opacity: 1;
		}
	}
	.less-important {
		width: 45%;
		margin-right: 5%;
		margin-left: 5%;
		a.textile-icon, a.illustration-icon, a.artwork-icon, a.photography-icon {
			float: left;
			@include icon-grid(2, 0.5%);
		}
			a.artwork-icon img, a.photography-icon img {
				width: 60%;
			}
			a.textile-icon img {
				width: 50%;
			}
			a.illustration-icon img {
				width: 80%;
				padding-top: 1em;
			}
			a.artwork-icon img:hover, a.photography-icon img:hover {
			    width: 70%;
			    opacity: 1;
		    }
		    a.textile-icon img:hover {
		    	width: 53.25%;
		    	margin-bottom: 0em;
		    	opacity: 1;
		    }
		    a.illustration-icon img:hover {
		    	width: 90%;
		    	opacity: 1;
		    }
	    }
	}
	@include break(60.625em, 90.625em) {
		width: 90%;
	}
	@include break(90.625em) {
		width: 70%;
	}
}

.fashion-projects {
	width: 100%;
	@include break(90.625em) {
		width: 70%;
		margin-right: auto;
		margin-left: auto;
	}
}

footer.site-info {
    text-align: center;
    margin-top: 2em;
    padding-bottom: 0.5em;
    @include break(60.625em, 90.625em) {
    	margin-top: 0em;
    }
    p {
    	font-size: 0.65em;
    }
    a, a:visited {
    	font-weight: 700;
    }
    @include break(90.625em) {
    	margin-top: 5em;
    }
}
footer.project-footer, footer.other-footer {
	margin-top: 6em;
	@include break(60.625em) {
		margin-top: 3em;
	}
}

.about, .project, .other {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 8.5em;
	@include break(60.625em, 90.625em) {
		margin-top: 10.5em;
	}
	@include break(90.625em) {
	    margin-top: 13.5em;
	}
}
.fashion-background {
    background-image: url("../images/fashion-background.png");
}
.fashion {
	width: 100%;
	position: relative;
	padding-top: 8.5em;
	@include break(90.625em) {
	    padding-top: 11em;
	}
	@include break(60.625em, 90.625em) {
		padding-top: 10.5em;
	}
}
.other {
	width: 100%;
	@include break(90.625em) {
		width: 70%;
		margin-right: auto;
		margin-left: auto;
	}
}

.artist-info {
	overflow: auto;
	width: 100%;
    @include break(90.625em) {
    	width: 80%;
        margin-left: auto;
    	margin-right: auto;
	}
}
.background-about {
	@include break(0, 60.625em) {
		display: none;
	}
	@include break(56.25em) {
		.left-decor, .right-decor {
			display: block;
			position: fixed;
    		width: 10%;
    		margin-left: 5%;
    		top: 9em;
		}
		.right-decor {
			right: 0;
			margin-left: 0%;
			margin-right: 5%;
		}
	}
	@include break(90.625em) {
		.left-decor, .right-decor {
			display: block;
			position: fixed;
    		width: 10%;
    		margin-left: 5%;
    		top: 13.5em;
		}
		.right-decor {
			right: 0;
			margin-left: 0%;
			margin-right: 5%;
		}
	}
}

.about {
	width: 95%;
	@include break(30em, 38em) {
		width: 90%;
	}
	@include break(38em, 56.25em) {
		width: 80%;
	}
	@include break(56.25em) {
		width: 60%;
		.background-about {
			img {
				width: 15%;
				position: fixed;
			}
		}
	}
	.alice-photo, .bio {
		display: block;
		 @include break(45em) {
		 	float: left;
		 }
	}
	.alice-photo {
		text-align: center;
        width: 80%;
        margin-right: auto;
		margin-left: auto;
		@include break(30em, 45em) {
		    width: 40%;
		    margin-right: auto;
		    margin-left: auto;
	    }
	    @include break(45em) {
		    width: 35%;
		    margin-right: 5%;
	    }
		img {
		    width: 100%;
		}
	}
	.bio {
		width: 100%;
		margin-top: 2em;
	    .tel-number, .email {
	    	text-align: center;
		}
	    @include break(30em, 45em) {
		    width: 100%;
		    margin-top: 0;
	    }
	    @include break(45em) {
	    	overflow: auto;
		    width: 60%;
		    margin-top: 0;
		    .tel-number, .email {
		    	text-align: left;
		    }
	    }
	    .email {
		    font-weight: bold;
		    margin-bottom: 0.5em;
	    }
	    p.text {
	    	margin-bottom: 1.5em;
	    }
	    p.quote {
	    	font-style: italic;
	    }
	}
	.cv {
		overflow: hidden;
		ul {
			padding-left: 2em;
			margin-bottom: 1.5em;
		}
		margin-top: 3em;
		@include break(64em, 90.625em) {
			margin-top: 2em;
		}
	    width: 100%;
        @include break(90.625em) {
    	    width: 80%;
            margin-left: auto;
    	    margin-right: auto;
    	    margin-top: 4em;
	    }
		.cv-title {
			width: 2.5em;
			margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.5em;
		}
		.cv-border {
			width: 100%;
			margin-bottom: 1em;
		}
		.left-column, .right-column {
			width: 100%;
			@include break(52.5em) {
				float: left;
				width: 45%;
			}
		}
		.left-column {
			@include break(52.5em) {
				margin-right: 10%;
			}
		}
		h4 {
			margin-bottom: 1.5em;
            font-size: 1.15em;
		}
		li {
			margin-bottom: 1em;
		}
	}
}

.fashion {
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
	text-align: center;
	@include break(30em, 38em) {
		width: 60%;
		padding-right: 20%;
		padding-left: 20%;
	}
	@include break(38em, 56.25em) {
		padding-right: 10%;
		padding-left: 10%;
		width: 80%;
	}
	@include break(56.25em) {
		width: 70%;
		padding-right: 15%;
		padding-left: 15%;
	}
	.grid {
		overflow: hidden;
		list-style: none;
		padding: 0;
		@include break(38em, 56.25em) {
			.icon {
		        @include icon-grid(2, 10%);
		        float: left;
		    }
		}
		@include break(56.25em) {
			.icon {
		        @include icon-grid(3, 5%);
		        float: left;
		    }
		}
		.project-icon {
			position: relative;
			.overlay {
				display: none;
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 10;
				top: 0;
				.eye {
					width: 5em;
                    position: absolute;
                    bottom: 2.5%;
                    right: 5%;
				}
				h2 {
					margin-top: 30%;
					color: #051f45;
				}
			}
		}
		.project-image {
			-webkit-transition: opacity 0.5s ease-in-out;
            -moz-transition: opacity 0.5s ease-in-out;
            -ms-transition: opacity 0.5s ease-in-out;
            -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
		}
		.project-icon:hover {
			@include break(60.625em) {
			.overlay {
				display: block;
			}
			.project-image {
				opacity: 0.25;
			}
		    }
		}
		img {
			border-radius: 2em;
			width: 100%;
		    margin-bottom: 2em;
		    @include break(38em) {
		        margin-bottom: 0;
	        }
		}
	}

}

.project {
    width: 100%;
	@include break(38em, 54em) {
		margin-top: 7em;
	}
	@include break(54em, 90.625em) {
		margin-top: 8.5em;
	}
	@include break(90.625em) {
	    width: 70%;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 10em;
	}
	.page-navigation {
		min-height: 3.5em;
		margin-left: 2.5%;
		margin-bottom: 1em;
		text-align: center;
		@include break(30em, 38em) {
            margin-left: 5%;
            margin-bottom: 2em;
            padding-top: 2em;
		}
		@include break(38em) {
            margin-left: 2.5%;
		    margin-right: 2.5%;
		    margin-bottom: 1em;
		}
		a img {
			height: 2.4em;
			width: auto;
			display: inline-block;
			margin-bottom: 0.25em;
		}
		@include break(60.625em) {
			a img:hover {
				opacity: 0.3;
				@include break(50em) {
					opacity: 1;
			    	height: 3em;
				}
			}
		}
	}
	.concept {
		margin-top: 2.5em;
		margin-bottom: 3.5em;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		@include break(30em, 38em) {
			width: 90%;
		}
		@include break(38em, 60.625em) {
			width: 75%;
		}
		@include break(60.625em, 70em) {
			width: 65%;
		}
		@include break(70em, 90em) {
			width: 55%;
		}
		@include break(90em) {
			width: 50%;
		}
		@include break(37em) {
			margin-top: 2em;
			margin-bottom: 3em;
		}
		.title-image {
			width: 65%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0.5em;
			img {
				width: 100%;
			}
			@include break(30em, 38em) {
			    width: 5em;
		    }
		    @include break(38em) {
			    width: 8em;
		    }
		}
	}
	p {
		margin-bottom: 1.5em;
	}
}

.photo-carousel {
	.border-top, .border-bottom {
		width: 100%;
		margin: 0.5em auto;
		@include break(60.625em, 74em) {
            width: 80%;
		}
		@include break(74em) {
            width: 70%;
		}
		img {
		    width: 98%;
            height: auto;
            margin-left: 1%;
            margin-right: 1%;
        }
	}
	.border-bottom {
		@include break(60.625em) {
			margin-top: 0.5em;
		}
	}
	// background: $slider-photo-color;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	position: relative;
	img {
		height: auto;
		width: 100%;
		@include break(38em, 60.625em) {
			width: 80%;
			height: auto;
		}
		@include break(60.625em, 90.625em) {
			height: 80vh;
		    width: auto;
		}
		@include break(90.625em) {
			height: 60vh;
			width: auto;
		}
	}
}
.arrows, .arrows-sketches {
	margin-top: 0.65em;
	@include break(60.625em) {
		margin-top: 0;
	}
	.previous, .next {
		width: 2em;
		position: relative;
		img {
			width: 2em;
			height: auto;
		}
		@include break(60.625em) {
			position: absolute;
			bottom: 55%;
			img {
			    width: 100%;
		 	    height: auto;
		    }
		}
		@include break(64em) {
			width: 3em;
		}
	}
	.previous {
		margin-right: 0.65em;
		@include break(60.625em, 64em) {
			left: 5%;
			margin-right: 0;
		}
		@include break(64em) {
			left: 7%;
			margin-right: 0;
		}
	}
    .next {
    	margin-left: 0.65em;
		@include break(60.625em, 64em) {
			right: 5%;
			margin-left: 0.65em;
		}
		@include break(64em) {
			right: 7%;
			margin-left: 0.65em;
		}
	}
	.previous:hover, .next:hover {
		width: 2.5em;
		@include break(64em) {
			width: 3.5em;
		}
	}	
}
.sketchbook {
	position: relative;
}

.icons {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
    margin-top: 0;
    @include break(38em) {
    	margin-top: 0.65em;
    }
   	@include break(60.625em) {
        width: 70%;
	}
	img {
		margin-left: 0.25em;
		margin-right: 0.25em;
		margin-top: 0.65em;
		width: 3em;
        height: auto;
        @include break(38em) {
        	margin-left: 0.65em;
		    margin-right: 0.65em;
		    width: 4em;
		}
	}
}

.slide.ng-hide-add,
.slide.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}