<header class="secondary">
  <a class="back-to-home" href="#/home"><img src="images/home.png"></a>
	<div class="name"><img src="images/name.png"></div>
	<ul class="social-media">
        <li class="sm"><a href="mailto:alice.ruz@gmail.com" target="_blank"><img src="images/email.png" alt="Mail"></a></li>
    <li class="sm"><a href="https://www.instagram.com/aliceruz/" target="_blank"><img src="images/instagram.png" alt="Instagram"></a></li>
        <li class="sm"><a href="https://www.facebook.com/alice.ruz?fref=ts" target="_blank"><img src="images/facebook.png" alt="Facebook"></a></li>
        <li class="sm"><a href="https://www.pinterest.com/aliceruz/" target="_blank"><img src="images/pinterest.png" alt="Pinterest"></a></li>
        <li class="sm"><a href="https://www.linkedin.com/aliceruz/" target="_blank"><img src="images/linkedin.png" alt="LinkedIn"></a></li>
  </ul>
</header>
<a class="back-to-home-fixed" href="#/home"><img src="images/home.png"></a>

<main class="about">
    <section class="artist-info">
	    <div class="alice-photo"><img src="images/nada.jpg"></div>
	    <div class="bio">
	        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	        <p class="email">alice.ruz@gmail.com</p>
	    </div>
	</section>
	<section class="cv">
	    <h3 class="cv-title"><img src="images/cv.png"></h3>
	    <div class="cv-border"><img src="images/cv-border.png"></div>
		<div class="left-column">
		    <h4>Education</h4>
		    <ul class="mark">
			    <li><strong>Central Saint Martins</strong>, BA in Jewellery Design, First Class Honours, London, UK, 2011&ndash;2014</li>
				<li><strong>University of the Arts London</strong>, London College of Fashion, Access to HE Eduction, London, UK, 2010&ndash;2011</li>
			</ul>
			<h4>Continuing Education</h4>
			<ul>
				<li><strong>Web Development Immersive</strong>, BrainStation, 10 weeks full&ndash;time, Toronto, 2015</li>
				<li><strong>Generative Design with Grasshopper</strong>, Akiyo Matsuoka Inc. with Andres Gonzalez, NY, 2015</li>
				<li><strong>Advanced Rhino Certificate</strong>, Schindler Technologies Corporation, Toronto, 2015</li>
				<li><strong>UX Design</strong>, Bitmaker Labs, 12 weeks part&ndash;time, Toronto, 2015</li>
			</ul>
			<h4>Work Experience</h4>
			<ul>
				<li><strong>Holly Dyment Jewellery</strong>, part&ndash;time, 2014&ndash;ongoing, Toronto</li>
				<li><strong>Musical venue Cafe OTO</strong>, sound engineering volunter, 2014, London, UK</li>
				<li><strong>Maud Traon</strong>, internship, 2013, London, UK</li>
				<li><strong>Silvia Weidenbach</strong>, internship, 2013, London, UK</li>
				<li><strong>Flow Gallery</strong>, internship, 2013, London, UK</li>
				<li><strong>Amadoria Ltd</strong>, part-time, 2013, London, UK</li>
			</ul>
		</div>
		<div class="right-column">
			<h4>Exhibitions</h4>
			<ul>
				<li><strong>Long Winter Festival</strong>, Toronto, Canada</li>
				<li><strong>Craft Ontario Gallery</strong>, Pop-up shop, Toronto, Canada</li>
				<li><strong>Maker Festival</strong>, Toronto Reference Library, Toronto, Canada</li>
				<li><strong>Artscape Gibraltar Point</strong>, Toronto, Canada</li>
				<li><strong>Luminous Bodies art residency</strong>, Toronto, Canada</li>
				<li><strong>Propeller Gallery</strong>, The Body: A Celebration, Toronto, Canada</li>
				<li><strong>Craft Ontario Gallery</strong>, Materialize exhibition, Toronto, Canada</li>
				<li><strong>Lethaby Gallery</strong>, Restless Futures exhibition as a part of London Design Week, London, UK</li>
				<li><strong>Central Saint Martins</strong>, Kings Cross, London, UK</li>
			</ul>
			<h4>Awards</h4>
			<ul>
				<li><strong>Best Use of Crystals</strong>, Swarovski&ndash;Central Saint Martins live project, 2014</li>
				<li><strong>Medical Research Center</strong>, commended in the project Suffrage Heirloom Jewellery, 2013</li>
				<li><strong>First Prize and Over All Winner</strong>, Swarovski&ndash;Central Saint Martins collaboration, 2012</li>
				<li><strong>British Art Medal Society</strong>, Runner Up, medal competition held by British Museum, 2012</li>
				<li><strong>Central Saint Martins</strong>, the art medal was chosen to be exhibited in the museum, 2012</li>
			</ul>
			<h4>Press</h4>
			<ul>
				<li><a href="https://artjewelryforum.org/graduate-portfolios/central-saint-martins-university-of-the-arts-london/nadya-fedotova"><strong>Art Jewellery Forum post</strong></a>, 2014</li>
				<li><a href="http://blogs.arts.ac.uk/csm/2014/07/03/ba-jewellery-design-students-rise-to-swarovskis-challenge/"><strong>Swarovski Challenge</strong></a>, blog.arts.ac.uk, 2014</li>
				<li><a href="http://www.londondesignfestival.com/events/restless-futures-london-design-festival"><strong>Restless Futures Catalogue</strong></a>, 2014</li>
				<li><a href="http://issuu.com/cscweb/docs/suffragescience2013"><strong>Suffrage Science 2013</strong></a>, Medical Research Center, 2013</li>
				<li><strong>Salt Magazine</strong>, autumn/winter issue, 2012</li>
				<li><a href="http://blogs.arts.ac.uk/csm/2012/05/16/congratulations-to-swarovski-competition-winner-nadezhda-fedotova/"><strong>Swarovski Competition</strong></a>, blog.arts.ac.uk, 2012</li>
				<li><strong>British Art Medal Society publication</strong>, 2012</li>
			</ul>
		</div>
	</section>
</main>