<header class="secondary">
  <a class="back-to-home" href="#/home"><img src="images/home.png"></a>
	<div class="name"><img src="images/name.png"></div>
	<ul class="social-media">
        <li class="sm"><a href="mailto:alice.ruz@gmail.com" target="_blank"><img src="images/email.png" alt="Mail"></a></li>
    <li class="sm"><a href="https://www.instagram.com/aliceruz/" target="_blank"><img src="images/instagram.png" alt="Instagram"></a></li>
        <li class="sm"><a href="https://www.facebook.com/alice.ruz?fref=ts" target="_blank"><img src="images/facebook.png" alt="Facebook"></a></li>
        <li class="sm"><a href="https://www.pinterest.com/aliceruz/" target="_blank"><img src="images/pinterest.png" alt="Pinterest"></a></li>
        <li class="sm"><a href="https://www.linkedin.com/aliceruz/" target="_blank"><img src="images/linkedin.png" alt="LinkedIn"></a></li>
  </ul>
</header>
<a class="back-to-home-fixed two" href="#/home"><img src="images/home.png"></a>

<main class="about">
    <section class="artist-info">
	    <div class="alice-photo"><img src="images/alice-photo.jpg"></div>
	    <div class="bio">
	        <p class="text">I am a fashion/textiles designer and a Central Saint Martins Fashion Print student, currently based in London. With my work I’m trying to create my own universe, where vivid colors, love for human form and geometry, elaborate hand work and positivity come together in kaleidoscopic compositions that are fun, playful and which hopefully can bring joy to others.  Whether it’s my interest in countercultures of the past and present, love for primitive art or my traditional Russian roots – handcraft, obsession with detail and intricate surface enhancement through print, texture and embroidery have become key to my practice. I am interested in constantly expanding my mind and practice with new ideas and challenges, as well as with enriching creative collaborations.</p>
	        <p class="email">alice.ruz@gmail.com</p>
	        <p class="tel-number">+447-917-42-42-22</p>
	    </div>
	</section>
	<section class="cv">
	    <h3 class="cv-title"><img src="images/cv.png"></h3>
	    <div class="cv-border"><img src="images/cv-border.png"></div>
		<div class="left-column">
		    <h4>Education</h4>
		    <ul class="mark">
		        <li>BA (Honours) Fashion Print, <strong>Central Saint Martins College of Art and Design</strong>, University of the Arts London, Sept 2014&ndash;ongoing </li>
				<li>Fashion Folio, <strong>Central Saint Martins College of Art and Design, University of the Arts London</strong>, May 2013 &ndash; March 2014  </li>
				<li>Foundation in Art &#38; Design, specializing in Fashion, <strong>Central Saint Martins College of Art and Design</strong>, University of the Arts London, Sept 2012 &ndash; May 2013</li>
				<li>Short courses in <strong>Creative Pattern-cutting</strong> and <strong>Fashion Illustration</strong>, Central Saint Martins College of Art and Design, University of the Arts London, summer 2014  </li>
			</ul>
			<h4>Skills</h4>
			<ul>
				<li>pattern-cutting, draping, sewing</li>
				<li>software: Adobe Photoshop &#38; Illustrator </li>
				<li>textile print techniques: sublimation heat transfer, screen-printing, devore, block and stencil printing</li>
				<li>textile dying skills with both natural and chemical dyes (acid, disperse and direct)</li>
				<li>knitting machine skills</li>
				<li>languages: English, Russian and French</li>
			</ul>
		</div>
		<div class="right-column">
			<h4>Work Experience</h4>
			<ul>
				<li><strong>Sadie Williams</strong>, internship, May-August 2015.  Production of a/w ‘15 “Ikebana” collection; assisting with research, design development, print & embroidery development for s/s ‘16 “Barnes B” collection</li>
				<li><strong>Leutton Postle</strong>, internship, June-July 2014. Production  of a/w 14 collection; production of s/s ‘14, a/w ’14 and s/s ’13 one-off designs for a pop up shop; working on knitting machine.</li>
				<li><strong>Conde Nast Publishing Moscow, Yes! Magazine</strong>, styling assistant, internship, 2011-2012, assisting with styling for photoshoots and events, writing fashion and beauty articles, trend research, assisting backstage at fashion events, set design for photoshoots</li>
			</ul>
		</div>
	</section>
</main>

<footer class="site-info">
    <p>
        &copy; 2016 Alice Ruzavina. Site by <a href="http://nadyascreatures.com">Nadya Eidelstein.</a>
    </p>
</footer>