<header class="secondary">
  <a class="back-to-home" href="#/home"><img src="images/home.png"></a>
	<div class="name"><img src="images/name.png"></div>
	<ul class="social-media">
        <li class="sm"><a href="mailto:alice.ruz@gmail.com" target="_blank"><img src="images/email.png" alt="Mail"></a></li>
    <li class="sm"><a href="https://www.instagram.com/aliceruz/" target="_blank"><img src="images/instagram.png" alt="Instagram"></a></li>
        <li class="sm"><a href="https://www.facebook.com/alice.ruz?fref=ts" target="_blank"><img src="images/facebook.png" alt="Facebook"></a></li>
        <li class="sm"><a href="https://www.pinterest.com/aliceruz/" target="_blank"><img src="images/pinterest.png" alt="Pinterest"></a></li>
        <li class="sm"><a href="https://www.linkedin.com/in/alisa-ruzavina-3639b1121" target="_blank"><img src="images/linkedin.png" alt="LinkedIn"></a></li>
  </ul>
</header>
<a class="back-to-home-fixed two" href="#/home"><img src="images/home.png"></a>

<main class="other">
	<section class="photo-carousel slider">
        <div class="border-top"><img src="images/photography/photo-border.png"></div>
		<img  class="image-carousel" ng-repeat="image in images" class="img-carousel" ng-show="image.visible" src="{{image.src}}">
		<div class="arrows">
            <a class="previous" ng-click="prev()">
                <img src="images/left-arrow.png" />
            </a>
            <a class="next" ng-click="next()">
                <img src="images/right-arrow.png" />
            </a>
        </div>
        <div class="icons">
            <img  class="image-carousel" ng-repeat="iconPhoto in images" class="img-carousel" src="{{iconPhoto.srcPhoto}}" ng-style="iconPhoto.Status === 'active' && {'opacity': '0.2'}" ng-click="changePhoto(iconPhoto)">
        </div>
        <div class="border-bottom"><img src="images/photography/photo-border.png"></div>
	</section>
</main>

<footer class="site-info other-footer">
    <p>
        &copy; 2016 Alice Ruzavina. Site by <a href="http://nadyascreatures.com">Nadya Eidelstein.</a>
    </p>
</footer>