<header class="secondary">
    <a href="#/fashion-projects">
    <a class="home" href="#/home"><img src="images/home.svg"></a>
	<div class="name"><img src="images/name.svg"></div>
	<ul class="social-media">
		<li class="sm"><a href="https://www.instagram.com/aliceruz/" target="_blank"><img src="images/insta.svg" alt="Instagram"></a></li>
		<li class="sm"><a href="mailto:alice.ruz@gmail.com" target="_blank"><img src="images/pin.svg" alt="Mail"></a></li>
        <li class="sm"><a href="https://www.facebook.com/alice.ruz?fref=ts" target="_blank"><img src="images/facebook.svg" alt="Facebook"></a></li>
        <li class="sm"><a href="https://www.pinterest.com/aliceruz/" target="_blank"><img src="images/pin.svg" alt="Pinterest"></a></li>
	</ul>
</header>

<main class="fashion-project">

	<section class="photo-carousel">
		    <div class="slide" ng-repeat="photo in photoshoot track by $index" class="img-carousel" ng-show="photo.visible">
		        <img src="{{photo.src}}">
		    </div>
		    <div class="arrows">
                <a ng-click="prev()">
                    <img src="images/left-arrow.png" />
                </a>
                <a ng-click="next()">
                    <img src="images/right-arrow.png" />
                </a>
            </div>
	</section>

	<section class="concept">
		<p>{{ project.Concept }}</p>
	</section>

	<section class="sketchbook">
			<div class="slide" ng-repeat="sketch in sketchbook track by $index" class="img-carousel" ng-show="sketch.visible">
		        <img src="{{sketch.src}}">
		    </div>
		    <div class="arrows">
                <a ng-click="prevSketch()">
                    <img src="images/left-arrow.png" />
                </a>
                <a ng-click="nextSketch()">
                    <img src="images/right-arrow.png" />
                </a>
            </div>
	</section>

</main>