<header class="third">
  <a class="back-arrow" href="#/fashion-projects"><img src="images/back-arrow.png"></a>
  <a class="back-to-home" href="#/home"><img src="images/home.png"></a>
    <div class="name"><img src="images/name.png"></div>
    <ul class="social-media">
        <li class="sm"><a href="mailto:alice.ruz@gmail.com" target="_blank"><img src="images/email.png" alt="Mail"></a></li>
    <li class="sm"><a href="https://www.instagram.com/aliceruz/" target="_blank"><img src="images/instagram.png" alt="Instagram"></a></li>
        <li class="sm"><a href="https://www.facebook.com/alice.ruz?fref=ts" target="_blank"><img src="images/facebook.png" alt="Facebook"></a></li>
        <li class="sm"><a href="https://www.pinterest.com/aliceruz/" target="_blank"><img src="images/pinterest.png" alt="Pinterest"></a></li>
        <li class="sm"><a href="https://www.linkedin.com/aliceruz/" target="_blank"><img src="images/linkedin.png" alt="LinkedIn"></a></li>
  </ul>
</header>

<a class="back-to-home-fixed" href="#/home"><img src="images/home.png"></a>
<a class="back-arrow-fixed" href="#/home"><img src="images/back-arrow.png"></a>

<main class="project">
    <nav class="page-navigation">
        <a class="pointer" ng-click="ctrl.gotoPhotoshoot()" ng-hide="ctrl.project.seen"><img src="images/photoshoot.png"></a>
        <a class="pointer" ng-click="ctrl.gotoConcept()"><img src="images/about-title.png"></a>
        <a class="pointer" ng-click="ctrl.gotoSketchbook()"><img src="images/dd.png"></a>
    </nav>
    <section class="photo-carousel slider" id="photoshoot" ng-hide="ctrl.project.seen">
    <div class="border-top"><img src="{{ctrl.project.Border}}"></div>
        <img class="image-carousel" ng-repeat="sketch in ctrl.sketchbook" class="img-carousel" src="{{sketch.src}}" ng-show="sketch.visible">    
        <div class="arrows">
            <a class="previous" ng-click="ctrl.previousSketch()">
                <img src="images/left-arrow.png" />
            </a>
            <a class="next" ng-click="ctrl.nextSketch()">
                <img src="images/right-arrow.png" />
            </a>
        </div>
    <div class="border-bottom"><img src="{{ctrl.project.Border}}"></div>
    </section>

    <section class="concept" id="concept">
        <h1 class="title-image"><img src="{{ ctrl.project.TitleImage }}" ></h1>
        <div ng-include="ctrl.project.Concept"></div>
    </section>

    <section class="photo-carousel sketchbook" id="sketchbook">
        <div class="border-top"><img src="{{ctrl.project.Border}}"></div>
        <img ng-repeat="photo in ctrl.photoshoot"  class="image-carousel" class="img-carousel" src="{{photo.src}}" ng-show="photo.visible">
       <div class="arrows-sketches">
            <a class="previous" ng-click="ctrl.previous()">
                <img src="images/left-arrow.png" />
            </a>
            <a class="next" ng-click="ctrl.next()">
                <img src="images/right-arrow.png" />
            </a>
        </div>
        <div class="border-bottom"><img src="{{ctrl.project.Border}}"></div>
    </section>

</main>
<footer class="site-info project-footer">
    <p>
        &copy; 2016 Alice Ruzavina. Site by <a href="http://nadyascreatures.com">Nadya Eidelstein.</a>
    </p>
</footer>