<header class="secondary">
    <a class="home" href="#/home"><img src="images/home.svg"></a>
	<div class="name"><img src="images/name.svg"></div>
	<ul class="social-media">
		<li class="sm"><a href="https://www.instagram.com/aliceruz/" target="_blank"><img src="images/insta.svg" alt="Instagram"></a></li>
		<li class="sm"><a href="mailto:alice.ruz@gmail.com" target="_blank"><img src="images/pin.svg" alt="Mail"></a></li>
        <li class="sm"><a href="https://www.facebook.com/alice.ruz?fref=ts" target="_blank"><img src="images/facebook.svg" alt="Facebook"></a></li>
        <li class="sm"><a href="https://www.pinterest.com/aliceruz/" target="_blank"><img src="images/pin.svg" alt="Pinterest"></a></li>
	</ul>
</header>

<main class="textile">
	<section class="photo-carousel">
	<h2>{{ ctrl.works.Title}}</h2>
		<div class="img-carousel" ng-repeat="img in ctrl.works.Images track by $index">
		    <img src="{{img}}">
		</div>
	</section>
</main>